swiper-container {
  width: 240px;
  height: 320px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

swiper-slide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

swiper-slide:nth-child(1n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(2n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(4n) {
  background-color: rgb(118, 163, 12);
}

swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

/* Trainer Swiper Style */
swiper-slide2:nth-child(1n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide2:nth-child(2n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide2:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide2:nth-child(4n) {
  background-color: rgb(118, 163, 12);
}

swiper-slide2:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

